/* Палитра цветов */

:root {
  --black: #000000;
  --white: #FFFFFF;
  --basic-dark-blue: #293449;
  --basic-blue: #32425C;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #F1F5F7;
  --hover-red: #CA2C37;
  --active-red: #BA2732;
  --dark-red: #8D1E26;
  --text-grey: #A9A9A9;
  --text-active-grey: #C5C5C5;
  --background-grey: #F4F4F4;
  --azure: #3BBCE3;
  --night-blue: #1D2739;
  --extra-blue: #161D29;
  --hover-green: #5FBB2D;
  --active-green: #518534;
  --dark-green: #367315;
  --light-green: #8ED78F;
  --biege: #F7F3EC;
  --yellow: #FFBF47;
  --gold: #FFC047;
  --orange: #FFDA96;
  --crayola: #DC91D8;
  --brown: #F9F5F0;
}

/* Глобальные стили */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  width: 192px;
  height: 27px;
  padding-top: 11px;
  background-color: var(--basic-red);
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:active {
  background-color: var(--active-red);
}

.section-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
}

/* 1. Хэдэр */

.page-header {
  background-color: var(--basic-grey);
}

.upper-row,
.search-query-string {
  background-color: var(--basic-dark-blue);
}

.page-logo {
  display: block;
  width: 108px;
  height: 32px;
  padding: 15px 56px 0 56px;
  border-bottom: 5px solid var(--dark-red);
  background-color: var(--basic-red);
}

.page-logo:active {
  background-color: var(--active-red);
}

.search-query-string,
.bookmarks-counter,
.cart-counter,
.checkout-button {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.search-query-string::placeholder {
  color: var(--white);
}

.search-query-string:focus {
  background-color: var(--white);
  color: var(--black);
}

.search-query-string:focus::placeholder {
  color: var(--black);
}

.bookmarks-counter:active {
  background-color: var(--extra-blue);
}

.cart-counter:active {
  background-color: var(--extra-blue);
}

.cart-active {
  background-color: var(--basic-red);
}

.checkout-button {
  background-color: var(--basic-green);
}

.checkout-button:hover {
  background-color: var(--hover-green);
}

.checkout-button:active {
  background-color: var(--basic-green);
}

.bookmarks-counter:active,
.cart-counter:active,
.checkout-button:active {
  color: rgba(255, 255, 255, 0.5);
}

.main-title {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.page-header-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.page-header-address {
  font-style: normal;
  font-size: 14px;
  color: var(--basic-blue);
}


.profile-button {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.profile-button:hover,
.profile-options-item:hover {
  color: var(--basic-red);
}

.profile-button-settings:hover {
  color: var(--black);
}

.profile-button:active,
.profile-options-item:active {
  color: var(--text-active-grey);
}

.main-navigation {
  background-color: var(--basic-blue);
}

.main-navigation-item:hover {
  background-color: var(--basic-dark-blue)
}

.main-navigation-item:active {
  background-color: var(--night-blue);
}

.main-navigation-item:active a {
  opacity: 50%;
}

.main-navigation-link {
  color: var(--white);
}

/* 2. Контент Главной страницы. */
/* 2.1. Товары и услуги. */

.offers-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.catalog-topics .offers-item:first-child {
  background-color: var(--yellow);
}

.catalog-topics .offers-item:nth-child(2) {
  background-color: var(--azure);
}

.catalog-topics .offers-item:last-child {
  background-color: var(--crayola);
}

.offers-list .offers-item:first-child {
  background-color: var(--light-green);
}

.offers-list .offers-item:last-child {
  background-color: var(--gold);
}

.offers-link {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
}

.offers-link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.offers-link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.goods-slider {
  background-color: var(--text-grey);
}

.slide h4 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
  text-transform: uppercase;
}

.slide-slogan {
  color: var(--white);
}

/* 2.2. Популярные товары и производители */

.popular-header {
  background-color: var(--brown);
}

.buy-button,
.add-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.buy-button {
  box-shadow: inset 0px -3px 0px var(--dark-green);
  border-radius: 2px;
  background-color: var(--basic-green);
  color: var(--white);
}

.add-button {
  height: 38px;
  padding-top: 8px;
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: var(--white);
  color: var(--basic-blue);
}

.buy-button:hover {
  background-color: var(--hover-green);
}

.buy-button:active {
  background-color: var(--active-green);
}

.add-button:hover {
  background-color: var(--white);
  border-color: var(--basic-blue);
}

.add-button:active {
  border-color: var(--basic-blue);
  opacity: 50%;
}

.goods-item-name {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  line-height: 20px;
}

.price,
.new-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.price {
  color: var(--text-grey);
}

.new-price {
  position: relative;
  display: block;
  width: 109px;
  height: 28px;
  padding-left: 32px;
  padding-top: 10px;
  border-radius: 3px;
  background-color: var(--basic-red);
  color: var(--white);
}

.new-price::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 19px 19px 0;
  border-style: solid;
  border-color: transparent var(--white);
}

.new-price::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 0;
  border-width: 0 0 19px 19px;
  border-style: solid;
  border-color: var(--white) var(--basic-red);
}

.manufacturers-item:active {
  opacity: 0.5;
}

/* 2.3. Сервисы */

.services {
  background-color: var(--basic-grey);
}

.services-name {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
}

.services-slogan,
.services-content {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: var(--black);
}

.services-control {
  background-color: var(--basic-blue);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
}

.active,
.active:hover {
  background-color: var(--white);
  color: var(--basic-blue);
}

.services-control:not(.active):hover {
  background-color: var(--basic-dark-blue);
}

/* 2.4. О компании, Контакты */

.company-info-text,
.contact-information-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: var(--black);
}

/* 3. Контент страницы Каталога. */
/* 3.1. Каталог товаров. Фильтры. */

.catalog-content {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.section-title-wrapper {
  background-color: var(--basic-grey);
}

.filters-segment-top {
  background-color: var(--biege);
}

.filters-segment-name {
  font-weight: normal;
  font-size: 13px;
}

.filter-group-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.price-field {
  font-size: 17px;
}

.filter-option-name {
  font-size: 15px;
  line-height: 19px;
}

.sort-button {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-red);
  color: var(--black);
  opacity: 0.3;
}

.sort-button:hover {
  text-decoration-style: solid;
  opacity: 1;
}

.sort-button:active,
.sort-button-active {
  text-decoration: none;
  color: var(--basic-red);
  opacity: 1;
}

.pagination-item a {
  color: var(--black);
}

.pagination-item-current {
  background-color: var(--basic-red);
}

.good-desc {
  background-color: var(--basic-grey);
}

.good-desc-content {
  line-height: 24px;
  text-transform: none;
}

.good-desc-content dfn {
  font-style: normal;
}

/* 4. Футер. */

.footer {
  background-color: var(--basic-blue);
  color: var(--white);
}

.footer-inner:last-child {
  background-color: var(--basic-dark-blue);
  font-size: 16px;
  line-height: 18px;
}

.footer-phone {
  color: var(--white);
}

.footer-nav:first-child .footer-nav-link {
  color: var(--white);
}

.footer-nav:last-child .footer-nav-link {
  color: var(--orange);
}

.footer-nav-item:hover a {
  text-decoration: underline;
}

.footer-nav-item:active a {
  text-decoration: none;
  opacity: 0.5;
}

.feedback-link a {
  font-style: normal;
  color: var(--orange);
}

.feedback-link a:hover {
  text-decoration: underline;
}

.feedback-link a:active {
  text-decoration: none;
  color: var(--basic-red);
}

/* Модальные окна */

.modal {
  background-color: var(--white);
}

.modal-buttons {
  background-color: var(--background-grey);
}

/* Окно с формой обратной связи */

.feedback-form-field,
.feedback-form-textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: var(--text-grey);
}

.feedback-send {
  width: 460px;
  height: 38px;
  padding: 2px 0 0 0;
  border: none;
}

/* Окно сообщения о добавлении товара в корзину */

.cart-message-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.cart-message-close {
  width: 192px;
  height: 38px;
  padding: 11px 31px 9px 32px;
  border: none;
  background-color: var(--white);
  color: var(--black);
}

.cart-message-close:hover {
  background-color: var(--background-grey);
}

.cart-message-close:active {
  background-color: var(--text-grey);
}
