/* Палитра цветов */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-dark-grey: #A9A9A9;
  --basic-gray: #C5C5C5;
  --basic-soft-gray: #F4F4F4;
  --basic-light-gray: #F3F7F9;
  --basic-very-light-gray: #F1F5F7;
  --basic-night-blue: #212A3A;
  --basic-dark-blue: #293449;
  --basic-blue: #32425C;
  --basic-light-blue: #3BBCE3;
  --basic-dark-green: #367315;
  --basic-green: #63A63E;
  --basic-light-green: #8ED78F;
  --basic-yellow: #FFBF47;
  --basic-gold: #FFC047;
  --basic-light-orange: #FFDA96;
  --basic-crayola: #DC91D8;
  --basic-light-brown: #F9F5F0;
  --basic-very-light-brown: #EAEAEA;
  --basic-dark-red: #BA2732;
  --basic-red: #EE3643;
  --basic-light-red: #FF5357;
}

/* Глобальные стили */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  width: 192px;
  height: 27px;
  padding-top: 11px;
  text-align: center;
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.button:hover {
  background-color: #CA2C37;
}

.button:active {
  background-color: var(--basic-dark-red);
}

.section-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
}

/* Хэдэр */

.page-header {
  background-color: var(--basic-light-gray);
}

.upper-row,
.search-query-string {
  background-color: var(--basic-dark-blue);
}

.search-query-string,
.bookmarks-counter,
.cart-counter,
.checkout-button {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.search-query-string::placeholder {
  color: var(--basic-white);
}

.search-query-string:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.search-query-string:focus::placeholder {
  color: var(--basic-black);
}

.bookmarks-counter:active {
  background-color: #161D29;
}

.checkout-button {
  background-color: var(--basic-green);
}

.checkout-button:hover {
  background-color: #5FBB2D;
}

.checkout-button:active {
  background-color: var(--basic-green);
}

.bookmarks-counter:active,
.cart-counter:active,
.checkout-button:active {
  color: rgba(255, 255, 255, 0.5);
}

.main-title {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.page-header-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.page-header-address {
  font-style: normal;
  font-size: 14px;
  color: var(--basic-blue);
}


.registration-buttons a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.registration-buttons a:hover {
  color: var(--basic-red);
}

.registration-buttons a:active {
  color: var(--basic-gray);
}

.main-navigation {
  background-color: var(--basic-blue);
}

.main-navigation-item:hover,
.main-navigation-item:active {
  background-color: #1D2739;
}

.main-navigation-item:active a {
  opacity: 50%;
}

.main-navigation-link {
  color: var(--basic-white);
}

/* Секция "Товары и услуги" */

.offers-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.offers-item:first-child {
  background-color: var(--basic-yellow);
}

.offers-item:nth-child(2) {
  background-color: var(--basic-light-blue);
}

.offers-item:nth-child(3) {
  background-color: var(--basic-crayola);
}

.offers-item:nth-child(4) {
  background-color: var(--basic-light-green);
}

.offers-item:last-child {
  background-color: var(--basic-gold);
}

.offers-link {
  background-color: rgb(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.offers-link:active {
  background-color: rgb(169, 169, 169, 0.3);
}

.offers-link:hover {
  background-color: rgb(197, 197, 197, 0.3);
}

.goods-slider {
  background-color: var(--basic-dark-grey);
}

.slide h4 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.slide-slogan {
  color: var(--basic-white);
}

/* Популярные товары и производители */

.popular-header {
  background-color: var(--basic-light-brown);
}

.buy-button,
.add-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.buy-button {
  background: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--basic-dark-green);
  border-radius: 2px;
  color: var(--basic-white);
}

.add-button {
  height: 38px;
  padding-top: 8px;
  background: var(--basic-white);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--basic-blue);
}

.buy-button:hover {
  background-color: #5FBB2D;
}

.buy-button:active {
  background-color: #518534;
}

.add-button:hover {
  background-color: var(--basic-white);
  border-color: var(--basic-blue);
}

.add-button:active {
  border-color: var(--basic-blue);
  opacity: 50%;
}

.goods-item-name {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  line-height: 20px;
}

.price,
.new-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.price {
  color: var(--basic-dark-grey);
}

.new-price {
  position: relative;
  display: block;
  width: 109px;
  height: 28px;
  padding-left: 32px;
  padding-top: 10px;
  background-color: var(--basic-red);
  border-radius: 3px;
  color: var(--basic-white);
}

.new-price::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 19px 19px 0;
  border-style: solid;
  border-color: transparent var(--basic-white);
}

.new-price::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 0;
  border-width: 0 0 19px 19px;
  border-style: solid;
  border-color: var(--basic-white) var(--basic-red);
}

.manufacturers-item:active {
  opacity: 0.5;
}

/* Сервисы */

.services {
  background-color: var(--basic-very-light-gray);
}

.services-name {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
}

.services-slogan,
.services-content {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: var(--basic-black);
}

.services-control {
  background-color: var(--basic-blue);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
}

.active,
.active:hover {
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.services-control:not(.active):hover {
  background-color: var(--basic-dark-blue);
}

/* О компании, Контакты */

.company-info-text,
.contact-information-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: var(--basic-black);
}

/* Футер */

.footer {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.footer-inner:last-child {
  background-color: var(--basic-dark-blue);
  font-size: 16px;
  line-height: 18px;
}

.footer-phone {
  color: var(--basic-white);
}

.footer-nav:first-child .footer-nav-link {
  color: var(--basic-white);
}

.footer-nav:last-child .footer-nav-link {
  color: var(--basic-light-orange);
}

.footer-nav-item:hover a {
  text-decoration: underline;
}

.footer-nav-item:active a {
  text-decoration: none;
  opacity: 0.5;
}

.feedback-email-address {
  font-style: normal;
}

.developer-link a {
  color: var(--basic-light-orange);
}

.developer-link a:hover {
  text-decoration: underline;
}

.developer-link a:active {
  text-decoration: none;
  color: var(--basic-red);
}

/* Окно с формой обратной связи */

.feedback-form-field,
.feedback-form-textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: var(--basic-dark-grey);
}

.feedback-send {
  width: 460px;
  height: 38px;
  border: none;
  padding: 2px 0 0 0;
}
