/* Палитра цветов */

:root {
  --black: #000000;
  --white: #FFFFFF;
  --basic-dark-blue: #293449;
  --basic-blue: #32425C;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #F1F5F7;
  --hover-red: #CA2C37;
  --active-red: #BA2732;
  --dark-red: #8D1E26;
  --text-grey: #A9A9A9;
  --text-active-grey: #C5C5C5;
  --background-grey: #F4F4F4;
  --card-border-grey: #EAEAEA;
  --azure: #3BBCE3;
  --night-blue: #1D2739;
  --extra-blue: #161D29;
  --hover-green: #5FBB2D;
  --active-green: #518534;
  --dark-green: #367315;
  --light-green: #8ED78F;
  --biege: #F7F3EC;
  --yellow: #FFBF47;
  --gold: #FFC047;
  --orange: #FFDA96;
  --crayola: #DC91D8;
  --brown: #F9F5F0;
  --socials-blue: #212A3A;
  --hover-login: #3D546F;
}

/* Глобальные стили */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
}

.button {
  display: block;
  width: 192px;
  padding: 11px 20px 9px 20px;
  box-sizing: border-box;
  background-color: var(--basic-red);
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:active {
  background-color: var(--active-red);
}

.section-title {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
}

/* 1. Хэдэр */

.page-header {
  display: grid;
  background-color: var(--basic-grey);
}

.upper-row,
.search-query-string {
  background-color: var(--basic-dark-blue);
}

.upper-row {
  min-height: 42px;
  box-shadow: inset 0 -5px 0 0 var(--basic-grey);
}

.page-header-inner,
.upper-row-inner {
  margin: 0 auto;
  width: 940px;
}

.upper-row-inner {
  display: flex;
  justify-content: flex-start;
}

.page-logo {
  display: block;
  min-height: 18px;
  width: 160px;
  padding: 12px 30px 5px 30px;
  border-bottom: 5px solid var(--dark-red);
  background-color: var(--basic-red);
  text-align: center;
}

.page-logo:active {
  background-color: var(--active-red);
}

.search-form,
.bookmarks-counter,
.cart-counter,
.checkout-button {
  border-bottom: 5px solid var(--basic-grey);
}

.search-query-string,
.bookmarks-counter,
.cart-counter,
.checkout-button {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.search-icon {
  position: relative;
  display: block;
  height: 100%;
}

.search-icon svg {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.search-icon:hover svg {
  opacity: 1;
}

.search-query-string:focus + svg {
  opacity: 1;
}

.search-query-string:focus + svg {
  fill: red;
}

.search-query-string {
  width: 270px;
  height: 100%;
  border: none;
  padding-left: 42px;
}

.search-query-string::placeholder {
  color: var(--white);
}

.search-query-string:focus {
  outline: none;
  background-color: var(--white);
  color: var(--black);
}

.bookmarks-counter,
.cart-counter {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px 0 45px;
  box-sizing: border-box;
}

.bookmarks-counter span,
.cart-counter span {
  margin-left: 4px;
}

.bookmarks-counter {
  width: 164px;
}

.bookmarks-counter:active {
  background-color: var(--extra-blue);
}

.cart-counter {
  width: 136px;
}

.goods-in-cart {
  padding-left: 35px;
  background-color: var(--basic-red);
}

.cart-counter:active {
  background-color: var(--extra-blue);
}

.cart-active {
  background-color: var(--basic-red);
}

.bookmarks-counter img,
.cart-counter img {
  position: absolute;
  top: 13px;
  left: 21px;
  opacity: 0.3;
}

.goods-in-cart img {
  left: 12px;
}


.bookmarks-counter:hover img,
.cart-counter:hover img {
  opacity: 1;
}

.bookmarks-counter:active img,
.cart-counter:active img {
  opacity: 0.3;
}

.checkout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  background-color: var(--basic-green);
}

.checkout-button:hover {
  background-color: var(--hover-green);
}

.checkout-button:active {
  background-color: var(--basic-green);
}

.bookmarks-counter:active,
.cart-counter:active,
.checkout-button:active {
  color: rgba(255, 255, 255, 0.5);
}

.page-header-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: min-content; */
  gap: 20px;
  min-height: 153px;
}

.title-wrapper {
  display: flex;
  /* height: 100%; */
  align-items: center;
  padding: 20px 30px;
  box-sizing: border-box;
}

.main-title {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.page-header-contacts {
  padding-top: 41px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.page-header-phone-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 270px;
  margin-bottom: 3px;
  min-height: 45px;
  padding: 3px 15px 5px 72px;
  border: 3px solid var(--white);
  box-sizing: border-box;
}

.page-header-phone-box img {
  position: absolute;
  top: 10px;
  left: 36px;
}

.page-header-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.page-header-address {
  margin-left: 10px;
  font-style: normal;
  font-size: 14px;
  color: var(--basic-blue);
}

.profile-login {
  display: flex;
  flex-wrap: wrap;
  padding-top: 41px;
  justify-content: flex-end;
  align-items: flex-start;
}

.profile-button,
.profile-name {
  display: flex;
  align-items: center;
  min-height: 45px;
  margin-left: 10px;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: var(--white);
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.sign-in {
  position: relative;
  justify-content: flex-start;
  padding-left: 46px;
  width: 121px;
}

.sign-in svg {
  position: absolute;
  top: 14px;
  left: 19px;
}

.profile-menu {
  padding-top: 41px;
}

.profile-settings {
  position: relative;
  width: 300px;
  background-color: var(--white);
}

.profile-name {
  position: relative;
  width: 260px;
  margin: 0;
  padding-left: 50px;
  justify-content: center;
}

.iconuser {
  position: absolute;
  top: 13px;
  left: 15px;
}

.profile-exit {
  position: absolute;
  top: 14px;
  right: 17px;
  height: 17px;
}

.sign-in:hover svg,
.profile-name:hover .iconuser,
.profile-exit:hover svg {
  fill: var(--hover-login);
}

.sign-in:active svg,
.profile-name:active .iconuser,
.profile-exit:active svg {
  fill: var(--text-active-grey);
}

.sign-up {
  justify-content: center;
  width: 150px;
}

.profile-options {
  display: flex;
  padding-top: 7px;
  justify-content: center;
}

.profile-options-item {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}

.profile-options-item:not(:first-child) {
  position: relative;
  margin-left: 31px;
}

.profile-options-item:not(:first-child)::before {
  content: "";
  position: absolute;
  display: block;
  top: 7px;
  left: -17px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--basic-blue);
  z-index: 3;
}

.profile-button:hover,
.profile-options-item:hover {
  color: var(--basic-red);
}

.profile-button-settings:hover {
  color: var(--black);
}

.profile-button:active,
.profile-options-item:active {
  color: var(--text-active-grey);
}

.main-navigation {
  margin-bottom: 60px;
  padding: 0 26px;
  background-color: var(--basic-blue);
  border-bottom: 5px solid var(--basic-dark-blue);
}

.main-navigation-list {
  display: flex;
  min-height: 55px;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation-item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.main-navigation-item:hover {
  background-color: var(--basic-dark-blue)
}

.main-navigation-item:active {
  background-color: var(--night-blue);
}

.main-navigation-item:active a {
  opacity: 50%;
}

.main-navigation-link {
  color: var(--white);
}

/* 2. Контент Главной страницы. */

.main-page-content {
  display: grid;
  gap: 59px;
  margin-top: 59px;
  margin-bottom: 70px;
}

/* 2.1. Товары и услуги. */

.offers {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: min-content min-content;
  gap: 20px;
  width: 940px;
  margin: 0 auto;
}

.assortment,
.offers-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.assortment {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-column: 1 / -1;
  min-height: 123px;
}

.assortment-item,
.offers-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 21px 112px 21px 23px;
  overflow: hidden;
}

.assortment-item img,
.offers-item img {
  position: absolute;
}

.assortment-item:first-child {
  background-color: var(--yellow);
}

.assortment-item:first-child img {
  top: 31px;
  left: 213px;
}

.assortment-item:nth-child(2) {
  background-color: var(--azure);
}

.assortment-item:nth-child(2) img {
  top: 34px;
  left: 194px;
}

.assortment-item:last-child {
  background-color: var(--crayola);
}

.assortment-item:last-child img {
  top: 31px;
  left: 191px;
}

.new-item::after {
  content: 'new';
  position: absolute;
  top: 8px;
  right: -27px;
  width: 100px;
  height: 30px;
  padding-top: 8px;
  z-index: 5;
  box-sizing: border-box;
  background-color: var(--basic-red);
  text-align: center;
  transform: rotate(45deg);
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
}

.offers-item:first-child {
  background-color: var(--light-green);
}

.offers-item:first-child img {
  top: 27px;
  left: 196px;
}

.offers-item:last-child {
  background-color: var(--gold);
}

.offers-item:last-child img {
  top: 32px;
  left: 191px;
}

.assortment-name,
.offers-name {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.assortment-link,
.offers-link {
  display: block;
  width: 135px;
  min-height: 38px;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.assortment-link:hover,
.offers-link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.assortment-link:active,
.offers-link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.goods-slider {
  position: relative;
  background-color: var(--text-grey);
}

.slide {
  grid-column: 1 / 3;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  width: 620px;
  padding: 23px 24px 27px 24px;
  box-sizing: border-box;
  min-height: 266px;
}

.slide:first-child {
  background-color: var(--text-grey);
  background-image: url("../img/jpg/perforators.jpg");
  background-repeat: no-repeat;
}

.slide:last-child {
  background-color: var(--text-grey);
  background-image: url("../img/jpg/drills.jpg");
  background-repeat: no-repeat;
}

.slide h4 {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
  text-transform: uppercase;
}

.slide-slogan {
  margin-top: 6px;
  margin-bottom: 10px;
  color: var(--white);
}

.slide-link {
  margin-top: auto;
}

.hidden-slide {
  display: none;
}

.slider-toggle {
  position: absolute;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.slider-left-toggle {
  top: 123px;
  left: 24px;
}

.slider-right-toggle {
  transform: rotate(180deg);
  top: 117px;
  left: 578px;
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 35px;
  left: calc(50% - (30px / 2));
  width: 30px;
}

.slider-jack {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: var(--basic-red);
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slider-jack-current {
  background-color: var(--white);
}

.offers-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

/* 2.2. Популярные товары */

.popular {
  width: 940px;
  margin: 0 auto;
}

.popular-goods {
  padding-bottom: 10px;
}

.goods-items-wrapper {
  display: flex;
}

.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 89px;
  margin-bottom: 20px;
  padding: 20px 14px 20px 28px;
  box-sizing: border-box;
  background-color: var(--brown);
}

.goods-item {
  position: relative;
  width: 220px;
  min-height: 318px;
  padding: 0 20px;
  text-align: center;
  border: 1px solid var(--card-border-grey);
  box-sizing: border-box;
  overflow: hidden;
}

.new-goods-item::after {
  left: 145px;
  z-index: 5;
}

.popular-goods .goods-item {
  margin-right: 20px;
}

.popular-goods .goods-item:nth-child(4n) {
  margin-right: 0;
}

.goods-item-inner {
  position: relative;
}

.goods-item-not-sale .price {
  color: transparent;
}

.goods-picture-wrapper,
.goods-item-buttons {
  position: relative;
  width: 100%;
  height: 179px;
  background-color: var(--white);
}

.goods-picture-wrapper {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goods-item-buttons {
  top: 0px;
  position: absolute;
  box-sizing: border-box;
  padding: 37px 20px 0 20px;
}

.goods-item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.goods-item:hover .goods-item-buttons {
  z-index: 2;
}

.buy-button,
.add-button {
  width: 100%;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.buy-button {
  margin-bottom: 10px;
  box-shadow: inset 0px -3px 0px var(--dark-green);
  border-radius: 2px;
  box-sizing: border-box;
  background-color: var(--basic-green);
  color: var(--white);
}

.add-button {
  padding-top: 8px;
  padding-bottom: 6px;
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: var(--white);
  color: var(--basic-blue);
}

.buy-button:hover {
  background-color: var(--hover-green);
}

.buy-button:active {
  background-color: var(--active-green);
}

.add-button:hover {
  background-color: var(--white);
  border-color: var(--basic-blue);
}

.add-button:active {
  border-color: var(--basic-blue);
  opacity: 50%;
}

.goods-item-name {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
}

.price,
.new-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.price {
  margin-top: 8px;
  margin-bottom: 0;
  color: var(--text-grey);
}

.new-price {
  position: relative;
  display: block;
  width: auto;
  height: 28px;
  margin: 13px 11px 20px 26px;
  padding-top: 10px;
  padding-left: 30px;
  border-radius: 3px;
  background-color: var(--basic-red);
  text-align: left;
  color: var(--white);
}

.new-price::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 19px 19px 0;
  border-style: solid;
  border-color: transparent var(--white);
}

.new-price::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 0;
  border-width: 0 0 19px 19px;
  border-style: solid;
  border-color: var(--white) var(--basic-red);
}

/* 2.3. Популярные производители */

.popular-manufacturers {
  padding-bottom: 10px;
}

.popular-manufacturers .popular-header {
  padding-right: 19px;
}

.manufacturers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 145px 145px;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.manufacturers-item {
  border: 1px solid var(--card-border-grey);
}

.manufacturers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.manufacturers-item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.manufacturers-item:active {
  opacity: 0.5;
}

/* 2.4. Сервисы */

.services {
  background-color: var(--basic-grey);
}

.services-inner {
  display: grid;
  grid-template-columns: 300px 620px;
  grid-template-rows: max-content max-content;
  gap: 20px;
  width: 940px;
  margin: 0 auto;
  padding-top: 67px;
}

.services-header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.services-slogan,
.services-content {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: var(--black);
}

.services-slogan {
  margin-top: 25px;
}

.services-selector {
  position: relative;
  padding: 38px 60px 98px 0;
}

.services-selector::after {
  content: '';
  position: absolute;
  top: -5px;
  right: 60px;
  width: 10px;
  height: 279px;
  background-image: url("../img/png/lineshadow.png");
  background-color: transparent;
  z-index: 3;
}

.services-control {
  width: 100%;
  min-height: 62px;
  padding: 10px 22px 18px 22px;
  border: none;
  background-color: var(--basic-blue);
  text-align: left;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  cursor: pointer;
}

.services-control-active,
.services-control-active:hover {
  background-color: var(--white);
  color: var(--basic-blue);
}

.services-control:not(.services-control-active):hover {
  background-color: var(--basic-dark-blue);
}

.services-slider {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.services-slide {
  display: none;
  height: 100%;
  padding: 35px 30px 20px 0px;
  box-sizing: border-box;
  background-color: var(--basic-grey);
}

.services-slide-visible {
  display: block;
}

.delivery {
  background-image: url("../img/png/delivery.png");
  background-repeat: no-repeat;
  background-position: 100% 90%;
}

.guarantee {
  background-image: url("../img/png/guarantee.png");
  background-repeat: no-repeat;
  background-position: 104% 88%;
}

.services-content {
  margin-top: 30px;
  margin-bottom: 26px;
}

.guarantee .services-content {
  margin-top: 25px;
}

.credit {
  background-image: url("../img/png/credit.png");
  background-repeat: no-repeat;
  background-position: 106% 90%;
}

.credit-request {
  width: 195px;
  border-radius: 3px;
}

/* 2.5. О компании, Контакты */

.company-info-block {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 20px;
  width: 940px;
  padding-top: 11px;
  margin: 0 auto;
}

.company-info-block .section-title {
  margin-bottom: 24px;
}

.company-info {
  padding-right: 140px;
}

.company-info-text,
.contact-information-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: var(--black);
}

.company-info-text {
  margin-bottom: 4px;
}

.company-info-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.company-info-item {
  position: relative;
  margin-bottom: 12px;
  padding-left: 37px;
}

.company-info-item::before {
  content: "";
  position: absolute;
  display: block;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.company-info-item:last-child {
  margin-bottom: 19px;
}

.contact-information-text {
  margin-bottom: 32px;
}

.contact-information-map {
  display: block;
  height: 158px;
  margin-bottom: 25px;
}

.company-more-button {
  width: 220px;
}

.contact-information-button {
  width: auto;
}

/* 3. Контент страницы Каталога. */
/* 3.1. Каталог товаров. Фильтры. */

.catalog-content {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  width: 940px;
  min-height: 59px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link,
.breadcrumbs-link a {
  color: var(--black);
}

.breadcrumbs-link {
  margin-right: 15px;
}

.breadcrumbs-link:not(:first-child) {
  position: relative;
  margin-left: 26px;
}

.breadcrumbs-link:not(:first-child)::before {
  content: "";
  position: absolute;
  display: block;
  top: 2px;
  left: -25px;
  width: 7px;
  height: 12px;
  background-image: url("../img/svg/iconrightsmall.svg");
  background-color: transparent;
}

.section-title-wrapper {
  width: calc(940px - 29px * 2);
  min-height: 40px;
  margin: 0 auto 20px auto;
  padding: 29px 29px 20px 29px;
  background-color: var(--basic-grey);
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: 220px 700px;
  gap: 20px;
  width: 940px;
  margin: 0 auto 59px auto;
}

.filter-header,
.good-cards-header {
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 20px;
  background-color: var(--biege);
  min-height: 38px;
  box-sizing: border-box;
  border-radius: 3px;
}

.filter-header {
  margin-bottom: 13px;
}

.good-cards-header {
  margin-bottom: 20px;
}

.filter-name,
.good-cards-name {
  font-weight: normal;
  font-size: 13px;
  margin: 0 auto 0 0;
}

.filter-group-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.scrollbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11px;
  background-color: var(--biege);
  height: 80px;
  border-radius: 3px;
}

.scrollbox-scale-line {
  width: 180px;
  height: 2px;
  background-color: var(--text-active-grey);
}

.toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--text-grey);
  border: 8px solid var(--white);
  border-radius: 50%;
  box-shadow: 0 3px 0 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.scrollbox-scale {
  height: 2px;
  background-color: var(--hover-green);
}

.price-bracket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 16px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--card-border-grey);
}

.price-field {
  width: 95px;
  height: 38px;
  padding: 0;
  border: none;
  border-radius: 3px;
  background-color: var(--biege);
  text-align: center;
  font-size: 17px;
}

.price-bracket span {
  font-size: 16px;
}

.filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-manufaturers,
.filter-power_type {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-manufaturers {
  margin-top: 15px;
  margin-bottom: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--card-border-grey);
}

.filter-manufaturers-item,
.filter-power_type-item {
  margin-bottom: 16px;
}

.filter-option-name {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 35px;
  font-size: 15px;
  line-height: 19px;
  cursor: pointer;
  user-select: none;
}

.filter-manufaturers-item .filter-option-name {
  min-height: 23px;
}

.filter-power_type-item .filter-option-name {
  min-height: 26px;
}

.filter-checkbox + .filter-option-name::before,
.filter-checkbox + .filter-option-name::after,
.filter-radio + .filter-option-name::before,
.filter-radio + .filter-option-name::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.filter-checkbox + .filter-option-name::before,
.filter-checkbox + .filter-option-name::after {
  width: 27px;
  height: 23px;
}

.filter-radio + .filter-option-name::before,
.filter-radio + .filter-option-name::after {
  width: 25px;
  height: 26px;
}

.filter-checkbox + .filter-option-name::before {
  background-image: url("../img/svg/checkboxoff.svg");
}

.filter-radio + .filter-option-name::before {
  background-image: url("../img/svg/radiooff.svg");
}

.filter-checkbox:checked + .filter-option-name::before,
.filter-radio:checked + .filter-option-name::before {
  display: none;
}

.filter-checkbox:checked + .filter-option-name::after {
  background-image: url("../img/svg/checkboxon.svg");
}

.filter-radio:checked + .filter-option-name::after {
  background-image: url("../img/svg/radioon.svg");
}

.filter-checkbox:not(:checked) + .filter-option-name::after,
.filter-radi:not(:checked) + .filter-option-name::after {
  display: none;
}

.filter-power_type {
  margin-top: 21px;
  margin-bottom: 33px;
}

.filter-button {
  width: 100%;
  min-height: 35px;
  padding-top: 9px;
  background-color: transparent;
  border: 1px solid var(--text-grey);
  color: var(--black);
}

.filter-button:hover {
  background-color: transparent;
  border: 1px solid var(--black);
}

.filter-button:active {
  background-color: var(--basic-grey);
  border: 1px solid var(--active-red);
}

.sort-button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 355px;
}

.direction-button-box {
  display: flex;
  width: 43px;
  margin-left: 45px;
}

.sort-button {
  border-bottom: 1px dotted var(--basic-red);
  color: var(--black);
  opacity: 0.3;
}

.sort-button:hover {
  border-bottom: 1px solid var(--basic-red);
  opacity: 1;
}

.sort-button:active,
.sort-button-active {
  border: none;
  color: var(--basic-red);
  opacity: 1;
}

.direction-button-box {
  display: flex;
  justify-content: space-between;
}

.sort-direction-button {
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  cursor: pointer;
}

.ascending {
  border-top: none;
  border-bottom: 10px solid var(--text-active-grey);
}

.descending {
  border-top: 10px solid var(--text-active-grey);
  border-bottom: none;
}

.ascending:hover,
.descending:hover {
  border-top-color: var(--black);
  border-bottom-color: var(--black);
}

.ascending:active,
.descending:active,
.sort-direction-active {
  border-top-color: var(--basic-red);
  border-bottom-color: var(--basic-red);
}

.good-cards-header {
  margin-bottom: 28px;
}

.good-cards-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 18px 20px;
  margin-bottom: 48px;
}

.good-cards-inner .goods-item:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-item a {
  display: inline-block;
  width: 38px;
  height: 38px;
  border: 1px solid var(--card-border-grey);
  border-radius: 3px;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 10px 0;
  text-align: center;
  color: var(--black);
}

.pagination-item-current a {
  border: none;
  background-color: var(--basic-red);
  color: var(--white);
}

.pagination-item-next a {
  min-width: 140px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  text-align: center;
}

.pagination-item a:active,
.pagination-item-next a:active {
  border-color: var(--basic-red);
}

.good-desc {
  background-color: var(--basic-grey);
}

.good-desc-inner {
  width: 940px;
  min-height: 261px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.good-desc-content {
  margin-top: 25px;
  line-height: 24px;
  text-transform: none;
}

.good-desc-content dfn {
  font-style: normal;
}

/* 4. Футер. */

.footer {
  background-color: var(--basic-blue);
  color: var(--white);
}

.footer-upper-row {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 380px 1fr;
  grid-template-rows: 68px 125px;
}

.footer-logo-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer-contacts {
  padding-top: 22px;
}

.footer-address {
  font-style: normal;
}

.footer-nav {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

.footer-phone {
  color: var(--white);
}

.footer-nav-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav-item:not(:first-child) {
  margin-left: 58px;
}

.footer-nav-list:first-child .footer-nav-item {
  margin-top: 37px;
}

.footer-nav-list:last-child .footer-nav-item {
  margin-top: 34px;
}

.footer-nav-list:first-child .footer-nav-link {
  color: var(--white);
}

.footer-nav-list:last-child .footer-nav-link {
  color: var(--orange);
}

.footer-nav-item:hover a {
  text-decoration: underline;
}

.footer-nav-item:active a {
  text-decoration: none;
  opacity: 0.5;
}

.footer-down-row {
  background-color: var(--basic-dark-blue);
}

.footer-down-row-inner {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
  width: 940px;
  margin: 0 auto;
  min-height: 107px;
  font-size: 16px;
  line-height: 18px;
}

.footer-down-row-inner p {
  margin: 0;
}

.copyright-info {
  grid-column: 1 / 2;
}

.copyright-info,
.feedback-link-wrapper {
  padding-top: 36px;
}

.copyright-info,
.feedback-link-wrapper {
  margin-bottom: 30px;
}

.socials {
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
  padding: 20px 70px;
  box-sizing: border-box;
}

.socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: var(--socials-blue);
  color: var(--white);
}

.socials a:hover,
.socials a:active {
  background-color: var(--basic-red);
}

.feedback-link-wrapper {
  grid-column: 3 / 4;
  display: flex;
  padding-right: 13px;
  justify-content: space-between;
}

.feedback-link a {
  font-style: normal;
  color: var(--orange);
}

.feedback-link a:hover {
  text-decoration: underline;
}

.feedback-link a:active {
  text-decoration: none;
  color: var(--basic-red);
}

/* Модальные окна */

.modal {
  border-top: 7px solid var(--basic-red);
  background-color: var(--white);
}

.modal-buttons {
  display: flex;
  justify-content: center;
  padding: 37px 0;
  background-color: var(--background-grey);
}

.modal-close {
  width: 21px;
  height: 21px;
  padding: 0;
  margin: 14px 11px 0 auto;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

/* Окно с формой обратной связи */

.feedback-modal {
  display: grid;
  width: 620px;
  outline: 2px dashed blue;
}

.feedback-modal div {
  padding-left: 80px;
  padding-right: 80px;
}


.feedback-modal-body {
  margin-top: 4px;
  margin-bottom: 37px;
}

.feedback-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
  gap: 20px 10px;
}

.feedback-form-field,
.feedback-form-textarea {
  display: block;
  margin-top: 11px;
  border: 2px solid var(--text-active-grey);
  border-radius: 3px;
  box-sizing: border-box;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: var(--text-grey);
}

.feedback-form-field {
  width: 220px;
  height: 38px;
  padding: 7px 12px;
}

.feedback-form-message {
  grid-column: 1 / -1;
}

.feedback-form-textarea {
  width: 100%;
  min-height: 114px;
  padding: 6px 12px;
}

.feedback-send {
  width: 460px;
  height: 38px;
  padding: 2px 0 0 0;
  border: none;
}

/* Окно сообщения о добавлении товара в корзину */

.cart-message-modal {
  display: grid;
  width: 620px;
  min-height: 282px;
  outline: 2px dashed red;
}

.cart-message-modal-body {
  display: flex;
  align-items: center;
  min-height: 170px;
  padding: 16px 81px 50px 81px;
  box-sizing: border-box;
}

.cart-message-text {
  margin-left: 30px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.cart-message-close {
  width: 192px;
  height: 38px;
  padding: 11px 31px 9px 32px;
  border: none;
  background-color: var(--white);
  color: var(--black);
}

.cart-message-close:hover {
  background-color: var(--background-grey);
}

.cart-message-close:active {
  background-color: var(--text-grey);
}

.modal-checkout-button {
  margin-right: 20px;
}
